body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.mainTimer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .statusMessage {
        &--finished {
            color: #ff0000;
        }
    }
}

.driver {
    .joker {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #000000;
        border-radius: 50%;
        &.not-passed {
            opacity: 0.2;
        }
        &.passed {
            opacity: 1;
        }
    }
    .timePlaceholder {
        opacity: 0.2;
    }
    .prettyTime {
        &.best {
            color: #27a527;
        }
    }
    .jokerPenalty {
        color: #ff0000;
        float: right;
        margin-left:10px;
        font-size: 12px;
    }
}

$totalTimeBackgroundColor: #EEEEEE;
table {
    border-spacing: 0;
    text-align: left;
    td {
        border-bottom: 1px solid black;
        padding: 5px;
        .singleTime {
            min-width: 100px;
        }
        &.totalTime {
            min-width: 120px;
            background-color: $totalTimeBackgroundColor;
        }
    }
    th {
        padding: 5px;
        font-size: 10px;
        &.timeHeader {
            width: 100px;
        }
        &.totalTimeHeader {
            background-color: $totalTimeBackgroundColor;
        }
    }
}
