body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.mainTimer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .statusMessage {
        &--finished {
            color: #ff0000;
        }
    }
}

.driver {
    .joker {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: #000000;
        border-radius: 50%;
        &.not-passed {
            opacity: 0.2;
        }
        &.passed {
            opacity: 1;
        }
    }
    .timePlaceholder {
        opacity: 0.2;
    }
    .prettyTime {
        &.best {
            color: #27a527;
        }
    }
    .jokerPenalty {
        color: #ff0000;
        float: right;
        margin-left: 10px;
        font-size: 12px;
    }
}

$totalTimeBackgroundColor: #EEEEEE;
table {
    border-spacing: 0;
    text-align: left;
    td {
        border-bottom: 1px solid black;
        padding: 5px;
        .singleTime {
            min-width: 100px;
        }
        &.totalTime {
            min-width: 120px;
            background-color: $totalTimeBackgroundColor;
        }
    }
    th {
        padding: 5px;
        font-size: 10px;
        &.timeHeader {
            width: 100px;
        }
        &.totalTimeHeader {
            background-color: $totalTimeBackgroundColor;
        }
    }
}

.settingsInput {
    width: 70px;
}

.configurationPanel {
    transition: 1s;
    transition-timing-function: ease-out;
    width: 600px;
    display: flex;
    position:absolute;
    left: -601px;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #000000;
    &.active{
        left: 0;
    }
    .driverConfigWrapper {
        display: flex;
        flex: 50%;
        width:50%;
        float:left;
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
        .driverHeader {
            width:100%;
        }
        .driverInputs{
            div{
                margin: 5px;
            }
            .lapInput{
                margin-left: 14px;
            }

        }
    }
    .configurationWrapper {
        display: flex;
        justify-content: space-evenly;
        min-height: 100px;
        .singleConfigurationWrapper {
            display: flex;
            flex-direction: column;
            .inputWrapper {
                display: flex;
                justify-content: center;
                input {
                    width: 40px;
                }
                .button {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    font-size: 10px;
                    width: 40px;
                    cursor: pointer;
                    color: #ffffff;
                    &:hover {
                        opacity: 0.7;
                    }
                    &.editButton {
                        background-color: #0072a5;
                    }
                    &.saveButton {
                        background-color: #27a527;
                    }
                }

            }

        }
    }
}
.configBox{
    transition: 1s;
    transition-timing-function: ease-out;
    position: absolute;
    width:50px;
    height:50px;
    text-align: center;
    font-size:30px;
    border: 1px solid #000000;
    line-height: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left-color: #ffffff;
    left:0;
    svg{
        vertical-align: middle;
    }
    &.active{
        left: 601px;
    }
}